*{
    background-color: rgb(255, 255, 255);
    font: 1em sans-serif;
}

h1{
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  gap: 10px;
           
}
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
#btn-adicionar{
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
#btn-adicionar :hover{
    background-color: #9ec5ff;
}


#contador {
  display: flex;
  justify-content: center; 
  gap: 10px;               
  margin: 20px 0;
}


#filtros {
  display: flex;
  justify-content: center; 
  gap: 10px;               
}
#filtros button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
#filtros button:hover {
  background-color: #9ec5ff;
}
#lista-tarefas {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lista-tarefas li {
  background: #ffffff;
  border: 1px solid #000000;
  padding: 12px;
  margin-bottom: 10px;    /* espaço entre os quadrados */
  border-radius: 10px;
  font-size: 30px;
  font-family: Arial;
  width: 50%;
  justify-content: center;
  cursor: pointer;
}

#lista-tarefas li:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

#lista-tarefas li.pendente{
  
  color: #000000;
  background-color: rgb(250, 192, 0);
  text-align: center;
}


#lista-tarefas li.concluida{
  
  color: #000000;
  background-color: #15cf40;
  text-align: center;
}