*{
    background-color: rgb(255, 255, 255);
    font: 1em sans-serif;
}

h1{
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  gap: 10px;
           
}
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
#btn-adicionar{
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
#btn-adicionar :hover{
    background-color: #9ec5ff;
}


#contador {
  display: flex;
  justify-content: center; 
  gap: 10px;               
  margin: 20px 0;
}


#filtros {
  display: flex;
  justify-content: center; 
  gap: 10px;               
}
#filtros button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
#filtros button:hover {
  background-color: #9ec5ff;
}
#lista-tarefas {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lista-tarefas li {
  background: #ffffff;
  border: 1px solid #000000;
  padding: 12px 20px; 
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 30px;
  font-family: Arial;
  width: 50%;
  cursor: pointer;
  
  
  display: flex;
  align-items: center;       
  justify-content: center;    
  position: relative;         
}


.apagar {
    position: absolute;       
    right: 15px;              
    padding: 6px 10px;
    font-size: 14px;          
    background-color: #807e7e;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.apagar:hover {
    background-color: #807e7e;
}

#lista-tarefas li:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

#lista-tarefas li.pendente{
  
color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
}

#lista-tarefas li.concluida{
  
color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  text-decoration: line-through; 
  opacity: 0.8; 
}